body {
  font-family: 'Montserrat';
  text-align: center;
}

 h1, h2, h3, h4, h5 ,h6 {  
  font-family: 'Montserrat';
}

/* Headings */
.big-heading {
  line-height: 1.5;  
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Sections */
.colored-section {
  /* background-color: #505265; */
background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.colored-section1 {
  /* background-color: #505265; */
  background-color: #8689c9;  /* fallback for old browsers */
  color: #000;
}

.white-section {
background-color: #fff;
}

/* Containers */
.container-fluid {
/* padding: 7% 15%; */
padding: 5% 7%;
}

/* Nav Bar */
.navbar {
  padding: 0 0  4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #000;
}

.nav-link:hover {
  color: #5f6168;
  text-shadow: 2px 2px 5px #fff;
}

/* Download Buttons  */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Hero Section */
#hero {
  text-align: left;
}

#hero .container-fluid {
  padding: 3% 15% 7%;
}

/* Hero Image */
.hero-image {
  width: 25%;
  position: absolute;
  border-radius: 10%;
}

/* About Me Section */
#about-me {
position: relative;
}

#about-me h1 {
 font-family: 'Montserrat';
 font-weight: 900;
}

#about-me p {
 font-family: 'Montserrat';
 font-weight: 300;
}

/* Projects Section */
#projects {
  padding: 50px;
}

@media (max-width: 1028px){
  #hero {
text-align: center;
  }

.hero-image {
  position: static;
}
.download-button {
  margin: 5% 3% 5% 0;
}

#about-me p {
  font-size: 30px;
}
.nav-link {
  font-size: 30px;
}

.footer-icon{
  margin: 30px;
  font-size: 90px;
 }

 .footer-paragraph {
  font-size: 25px;
 }

 .navbar-toggler-icon {
  font-size: 40px;
 }
}

@media (max-width: 1200px) {
  .project-column {
    padding: 1%; 
  }
}

/* Footer Section */
#footer {
  background-color: #fff;
}

#footer a {
  text-decoration: none;
}

.footer-icon{
  padding: 20px;
  color: #000;
}

.fa-github:hover {
  color: #5f6168;
  cursor: pointer;
}

.fa-linkedin:hover {
  color:#5f6168;
  cursor: pointer;
}

.fa-envelope:hover {
  color:#5f6168;
  cursor: pointer;
}


