body {
  font-family: 'Roboto';
  text-align: center;
}

 h1, h2, h3, h4, h5 ,h6 {  
  font-family: 'Roboto';
}

/* Headings */
.big-heading {
  /* font-size: 3.5rem;   */
  line-height: 1.5;  
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Sections */
.colored-section {
  background-color: #505265;
  color: #fff;
  /* height: 100vh; */
}

.colored-section1 {
  background-color: #505265;
  color: #000;
  /* height: 100vh; */
}

.white-section {
background-color: #fff;
}

.grey-section {
background-color: rgb(171, 167, 167);
}

/* Containers */
.container-fluid {
padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0  4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: 300;
}

/* Download Buttons  */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Hero Section */
#hero {
  text-align: left;
}

#hero .container-fluid {
  padding: 3% 15% 7%;
}

/* Hero Image */
.hero-image {
  width: 25%;
  /* transform: rotate(25deg); */
  position: absolute;
  border-radius: 10%;
}

/* About Me Section */
#about {
/* background-color: #fff; */
position: relative;
}

.features-div {
  padding: 5%;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
color: #ff4c68;
}

.features-header {
 font-family: 'Roboto';
 font-weight: 900;
 font-size: 1.5rem;
}

.features-paragraph {
color: #8f8f8f;
}

/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
  /* color: #fff; */
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Projects Section */
#projects {
  padding: 100px;
}

/* .price-text {
  font-size: 3rem;
  line-height: 1.5;
} */

/* .pricing-column {
padding: 3% 2%;
} */

@media (max-width: 1028px){
  #hero {
text-align: center;
  }

.hero-image {
  position: static;
  /* rotate it back to 0 so that the image goes back straight up */
  /* transform: rotate(0);  */
}

.project-column {
padding: 1% 1%;
}

}

/* Footer Section */
#footer {
  background-color: #fff;
}

.footer-icon{
  padding: 20px 10px;
}

.fa-github:hover {
  color: #4b5da7;
  cursor: pointer;
}

.fa-linkedin:hover {
  color: #4b5da7;
  cursor: pointer;
}

.fa-envelope:hover {
  color:#47494e;
  cursor: pointer;
}


/* handwave emoji animation in hero section start */
.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}
/* handwave emoji animation in hero section end */